<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.satorysoft.cotton" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CottonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ApplicationScanActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ApplicationListActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ApplicationDetailActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.GoogleDriveAuthActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ScheduledBackupActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.BackupActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait"/>

        <receiver android:name=".core.receiver.ApplicationInstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".core.receiver.PackageRemovedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".db.provider.ScannedApplicationProvider"
            android:authorities="org.satorysoft.cotton"
            android:exported="false">
        </provider>

        <service android:name=".core.service.RecentApplicationScanner"
            android:exported="false">
            <intent-filter>
                <action android:name="org.satorysoft.cotton.intent.scan_new_app"/>
            </intent-filter>
        </service>

        <service android:name=".core.service.DbUpdaterService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.satorysoft.cotton.intent.remove_app"/>
            </intent-filter>
        </service>
    </application>

</manifest>
